@font-face {
  font-family: "iconfont"; /* Project id 3807014 */
  src: url('iconfont.woff2?t=1671967330151') format('woff2'),
       url('iconfont.woff?t=1671967330151') format('woff'),
       url('iconfont.ttf?t=1671967330151') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-music:before {
  content: "\e604";
}

.icon-play:before {
  content: "\e87c";
}

.icon-pause:before {
  content: "\e619";
}

.icon-prev:before {
  content: "\e603";
}

.icon-next:before {
  content: "\e602";
}

.icon-volume:before {
  content: "\e629";
}

.icon-about:before {
  content: "\e63d";
}

.icon-demo:before {
  content: "\e611";
}

.icon-project:before {
  content: "\e600";
}

.icon-home:before {
  content: "\e608";
}

